body {
    font: 15px Tahoma;
    color: #33004d;
}

.navbar {
    background-color: #ffccff;
    padding-left: 10px;
}

.quem-somos {
    background-color: #fff7e6;
    color: #33004d;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.servicos{
    background-color: #ffe6ff;
}

.parceiros {
    background-color: #fff7e6;
}

.bg-footer {
    background-color: #ffccff;
}